<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- TODO WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" type="text/css" href="styles/ionic.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <title>SaveYourSelf TODO i18n</title>
  </head>
  <body>

    <div ng-app="saveYourSelf" ng-controller="mainCtrl">

      <div class="bar bar-header bar-stable">
        <h1 class="title">bar-stable</h1>
      </div>

      <ion-content
        class="main"
        [delegate-handle=""]
        [padding=""]
        [scroll=""]
        [overflow-scroll=""]
        [has-bouncing=""]
        [on-scroll=""]
        [on-scroll-complete=""]>

        <div class="card">
          <div class="item item-text-wrap">
            <i class="icon ion-ios7-location"></i>
            {{nearestShelters.address}}
          </div>
        </div>

        <div class="card" ng-repeat="shelter in nearestShelters.nearest_shelters">
          <div class="item item-text-wrap" ng-repeat="phone in shelter.phone">
            <a class="button button-block button-assertive" href="tel:{{phone}}">
              <i class="icon ion-ios7-telephone"></i>
              {{phone}}
            </a>
          </div>
          <div class="item item-divider">
            {{shelter.name}} {{shelter.address}}
          </div>
        </div>

      </ion-content>
    </div>

    <script src="phonegap.js"></script>
    <script src="geolocation.js"></script>

    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/angular-resource.min.js"></script>

    <script src="scripts/vendor/ionic.bundle.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>

    <script type="text/javascript">
      document.addEventListener('deviceready', function onDeviceReady() {
        angular.bootstrap(document, ['saveYourSelf']);
      }, false);
    </script>
  </body>
</html>
